@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to CarBay!</h1>
    <p>The place for buying and selling cars</p>
    <p><a class="btn btn-primary btn-lg" href="/Login" role="button">Login</a> 
    <a class="btn btn-success btn-lg" href="/Register" role="button">Register</a>
</div>